@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind screens; */

@layer base {
    .bgLiner {
        background: linear-gradient(172.7deg,
        #FFD370 5.12%,
        #FFD370 53.33%,
        #FFD370 53.44%,
        #FFFFFF 53.45%,
        #FFFFFF 94.32%);
        background-repeat: no-repeat;
    };
    .box_shadow {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    };
    .active_btn {
        @apply py-4 !border-b-2 !border-b-secondary w-full !text-secondary text-sm font-bold;
    }
    .normal_btn {
        @apply py-4 border-b-2 border-b-light_gray w-full text-center text-third text-sm font-bold;
    }
}